# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#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

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
